#swiggy-img{
    height: 250px;
    width: 100%;
    margin-top: 20px;
}
#swiggy-img:hover{
    transform: scale(1.1);
    padding-top: 10px;
}
body {
    background-color: rgb(207, 204, 207);
}
.card:hover{
    transform: scale(1.04);
}